@import "../global.scss";

.about {
  font-size: $base-size * 1.1;
  line-height: 1.5;
  position: relative;
  .row {
    justify-content: center;
    @include tablet-small {
      position: relative;
    }
  }
  .row:nth-child(1) {
    [class*="col-"]:nth-child(1) {
      height: 50%;
    }
    @include tablet-small {
      align-items: flex-end;
    }
  }
  .row:nth-child(2) {
    [class*="col-"]:nth-child(2) {
      height: 50%;
    }
  }
  [class*="col-"] {
    margin: 15px 5px;
    padding: 0;
    @include mobile-large {
      margin: 10px 15px;
    }
  }
  &_title {
    @include title;
  }
  &_text {
    margin: 10px auto;
    padding: 20px;
    @include border-shadow;
  }
}