@import "../global.scss";

.about {
  font-size: $base-size * 1.1;
  line-height: 1.4;
  position: relative;
  .row {
    justify-content: center;
    @include tablet-small {
      position: relative;
    }
  }
  .row:nth-child(1) {
    [class*="col-"]:nth-child(1) {
      height: 50%;
    }
    @include tablet-small {
      align-items: flex-end;
    }
  }
  .row:nth-child(2) {
    [class*="col-"]:nth-child(2) {
      height: 50%;
    }
  }
  [class*="col-"] {
    margin: 15px 5px;
    border: 6px solid $color-blue;
    box-shadow: 10px 10px 20px -8px rgba(17, 17, 17, 0.55);
    background-color: $color-background;
    @include mobile-large {
      margin: 20px;
    }
    @include tablet-large {
      padding: 8px 20px;
    }
  }
  &_title {
    display: block;
    width: auto;
    z-index: 1;
    background-color: $color-background;
    font-size: $base-size * 1.2;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding-right: 15px;
    position: absolute;
    top: -14px;
    left: 18px;
    border-radius: 55px;
  }
  &_icon {
    color: $color-grey;
    margin-right: 10px;
  }
  &_text {
    margin-top: 16px;
  }
}